.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.error-message {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;  
  color: #a94442;
  font-weight: bold;    
}

.comment{
  resize: vertical;
}

.event {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px rgb(51, 51, 51);
	box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
	padding: 0px;
	margin: 0px 0px 20px;  
}
.event > .time {
    padding-top:30px;
    display: inline-block;
	color: rgb(44, 110, 61);
	text-align: center;
	text-transform: uppercase;
    font-size: 20pt;
}
.event:nth-child(even) > .time {
	color: rgb(108, 154, 120);
}
.calendar-text { margin-top: .3em; }
.daysc {
	display: block;
	font-size: 35pt;
	font-weight: 100;
	line-height: 1;
}
.monthsc.  {
	display: block;
	font-size: 30pt;
	font-weight: 900;
	line-height: 1;
}
.timing {
    text-align:center;
    margin: 0 10px;
    padding-right:10px;
    border-right: 2px solid black;
    font-weight: 900;
}
@media (max-width: 768px) {
    .event > .time {
        padding:5px;
        width: 100%;
        color: rgb(255,255,255);
        background-color: rgb(44, 110, 61);
        text-align: center;
        text-transform: uppercase;
    }
    .event:nth-child(even) > .time {
        color: rgb(255,255,255);
        background-color: rgb(108, 154, 120);
    }
    .daysc {
        display: inline;
        font-size: 36pt;
        font-weight: 100;
        line-height: 1;
    }
    .monthsc.  {
        display: inline;
        font-size: 32pt;
        font-weight: 900;
        line-height: 1;
    }
}

.time_del_btn{
    cursor: pointer;
}

.navbar-brand{
    font-size: 20pt;
}

.blog-footer {
  position: fixed;
  bottom: 0px;
  width: 100%;  
  padding: 0px 0;
  color: #fff;
  //text-align: center;
  background-color: #383d45;
  //border-top: 1px solid #e5e5e5;
  font-size: 14px;
  z-index: 1000;
}

.blog-footer a {
  color: #fff;
  text-decoration: none;
}

.blog-footer ul, ol {
  margin-top: 2px;
  margin-bottom: 2px;
}

.footer-menu {
  text-align: left;
}

@media screen and (max-width: 1024px) {
  .footer-menu {
    text-align: right;
  }  
}